<%- include('./template/header'); -%>

 <!-- begin search dable -->
<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <div class="card shadow-sm mb-3">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-xxl-8 mb-3">
                            <input type="text" class="form-control" id="equipmentSearch" placeholder="ค้นหาข้อมูลครุภัณฑ์">
                        </div>
                        <div class="col-xxl-4 mb-3 text-end">
                            <div class="btn btn-outline-secondary" id="clear"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                            <div class="btn btn-success" id="search"><i class="fas fa-search me-2"></i>ค้นหา</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- end search dable -->

<!-- begin data dable -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped my-2" id="table_id">
                        <thead class="table-navy-blue">
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">ชื่อครุภัณฑ์</th>
                                <th class="text-center">รุ่น</th>
                                <th class="text-center">คงเหลือ</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end data dable -->

<%- include('./template/footer'); -%>

<script>
    var Feature = (function(){
        var countOrder = 0;

        var dataTable = $('#table_id').DataTable({
            searching: false,
            responsive: true,
            ordering: false,
            lengthChange: false,
            iDisplayLength: 10,
            bAutoWidth: false,
            columns:[
                        { 
                            data: function (data) {
                                countOrder++
                                return countOrder;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipName'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipModel'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['total'];
                            },
                            className : 'text-center',
                        },
                    ],
            serverSide: true,
            ajaxSource: '/search',
            serverData: function (sSource, aaData, fnCallback, oSettings) {
                aaData.push({ "name": "search","value": ""});
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aaData,
                    success: function (response) {
                        var response = response.data;

                        var uniqueEquipName = [... new Set(response.map(item => item.equipment_name))];
                            // console.log(uniqueEquipName);
                        var uniqueEquipModel = [... new Set(response.map(item => item.model))];
                            // console.log(uniqueEquipModel);
                        var sumEquip = 0;
                        var data = [];
                        var equipName = "";
                        var equipModel = "";

                        for (let x = 0; (x < uniqueEquipName.length)&&(x < uniqueEquipModel.length); x++) {
                            var dataEquipName = uniqueEquipName;
                            var dataEquipModel = uniqueEquipModel;

                            for (let y = 0; y < response.length; y++) {
                                if (response[y].equipment_name === dataEquipName[x]){
                                    sumEquip++
                                } else {
                                    sumEquip
                                }
                                equipName = (dataEquipName[x]);
                                equipModel = (dataEquipModel[x]);
                            }

                            data.push({equipName: equipName, equipModel: equipModel, total: sumEquip});
                            sumEquip = 0;
                        }
                            // set new response
                            response = {data,"iTotalRecords": data.length, "iTotalDisplayRecords": data.length};
                            console.log(response);
                        fnCallback(response);

                    }
                });
            },
            createdRow: function (row, data, index) {
            }
        });

        return {
            searchData: function () {
                $('#search').on('click', function (e) {
                    var equipmentSearch = $('#equipmentSearch').val();
                        window.location = '/?search=' + equipmentSearch;
                });
                $('#clear').on('click', function (e) {
                    $('#equipmentSearch').val('');
                });
            },
            onClickDataTable: function () {
                $('#table_id_paginate').on('click', '.paginate_button', function () {
                    var indexPage = $(this).data();
                        if (indexPage.dtIdx >= 0) {
                            index = (indexPage.dtIdx);
                            dataTable.ajax.reload();
                        }
                });
            },
            init: function () {
                Feature.onClickDataTable();
                Feature.searchData();
            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>
