<%- include('./template/header'); -%>

<div class="container-xl my-3">

 <!-- begin search dable -->
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="card shadow-sm mb-3">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-xxl-8 mb-3">
                                <input type="text" class="form-control shadow-sm" id="equipmentSearch" placeholder="ค้นหาข้อมูลครุภัณฑ์">
                            </div>
                            <div class="col-xxl-4 mb-3 text-end">
                                <div class="btn btn-outline-secondary shadow-sm" id="clear"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                                <div class="btn btn-success shadow-sm" id="search"><i class="fas fa-search me-2"></i>ค้นหา</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search dable -->

    <!-- begin data dable -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="display nowrap mt-1 mb-3" id="table_id">
                        <thead class="table-navy-blue">
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">ชื่อครุภัณฑ์</th>
                                <th class="text-center">ยี่ห้อ</th>
                                <th class="text-center">รุ่น</th>
                                <th class="text-center">คงเหลือ</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end data dable -->

</div>

<%- include('./template/footer'); -%>

<script>
    var Feature = (function(){
        var countOrder = 0;
        var aaSearch = "";

        var dataTable = $('#table_id').DataTable({
            language: {emptyTable: "ไม่พบข้อมูลครุภัณฑ์", info: "แสดงข้อมูลครุภัณฑ์ _TOTAL_ รายการ", infoEmpty: "ไม่พบข้อมูล"},
            searching: false,
            initComplete: function (settings, json) {  
                $("#table_id").wrap("<div style='overflow:auto; width:100%; position:relative; max-height: 708px; margin-bottom: 5px;'></div> ");            
            },
            ordering: false,
            lengthChange: false,
            paging: false,
            bAutoWidth: false,
            columns:[
                        { 
                            data: function (data) {
                                countOrder++
                                return countOrder;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipment_name'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['brand'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['model'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['total'];
                            },
                            className : 'text-center',
                        },
                    ],
            serverSide: true,
            ajaxSource: '/search',
            serverData: function (sSource, aaData, fnCallback, oSettings) {
                aaData.push({ "name": "search", "value": aaSearch});
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aaData,
                    success: function (response) {
                        if (response.status === "Succeed") {
                            if (response.data === "No Reverting information") {
                                response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                            } else {
                                var response = response.data;
                                    response = {"aaData": response, "iTotalRecords": response.length, "iTotalDisplayRecords": response.length};
                            }
                        } else {
                            response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                        }
                      
                        fnCallback(response);

                    }
                });
            },
            createdRow: function (row, data, index) {
            }
        });

        return {
            searchData: function () {
                $('#search').on('click', function (e) {
                    var equipmentSearch = $('#equipmentSearch').val();
                        aaSearch = equipmentSearch.trim();
                        countOrder = 0;
                        dataTable.ajax.reload();
                });
                $('#clear').on('click', function (e) {
                    $('#equipmentSearch').val('');
                        aaSearch = "";
                        countOrder = 0;
                        dataTable.ajax.reload();
                });
            },
            init: function () {
                Feature.searchData();
            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>
