<%- include('./template/header'); -%>

    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="card shadow-sm mb-3">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-xxl-8 mb-3">
                                <div class="input-group ">
                                    <input type="datetime" id="start_date" class="form-control " placeholder="เริมต้น " aria-label="start-date ">
                                    <span class="input-group-text ">ถึง</span>
                                    <input type="datetime " id="end_date" class="form-control " placeholder="สิ้นสุด " aria-label="enddate ">
                                </div>
                            </div>

                            <div class="col-xxl-4 mb-3 text-end ">
                                <div class="btn btn-outline-dark " id=" "><i class="fas fa-times me-2 "></i>ยกเลิก</div>
                                <div class="btn btn-success " id=" "><i class="fas fa-search me-2 "></i>ค้นหา</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-12 ">
            <div class="card shadow-sm " style="min-height: 400px; ">
                <div class="card-body ">
                    <table class="table table-striped " id="table_id">
                        <thead class="table-navy-blue ">
                            <tr>
                                <th class="text-center ">วันที่</th>
                                <th class="text-center ">รหัสพนักงาน</th>
                                <th class="text-center ">ชื่อ-นามสกุล</th>
                                <th class="text-center ">รายการ</th>
                                <th class="text-center ">รุ่น</th>
                                <th class="text-center ">เวลา</th>
                                <th class="text-center ">แผนก</th>
                                <!-- <th class="text-center ">แจ้งเตือน</th> -->
                                <th class="text-center ">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00001</td>
                                <td class="text-center ">สมพง ทองดี</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00002</td>
                                <td class="text-center ">สมพง ทองดำ</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00003</td>
                                <td class="text-center ">สมพง ทองคำ</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00004</td>
                                <td class="text-center ">สมพง ทองแดง</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00005</td>
                                <td class="text-center ">สมพง ทองเดือด</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00006</td>
                                <td class="text-center ">สมพง ทองแท้</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00007</td>
                                <td class="text-center ">สมพง ทองม้วน</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00008</td>
                                <td class="text-center ">สมพง ทองหยิบ</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00009</td>
                                <td class="text-center ">สมพง ทองหยอด</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                            <tr>
                                <td class="text-center ">1/01/2022</td>
                                <td class="text-center ">00010</td>
                                <td class="text-center ">สมพง ทองประกาย</td>
                                <td class="text-center ">1</td>
                                <td class="text-center ">JUL-882</td>
                                <td class="text-center ">00:00:00</td>
                                <td class="text-center ">ชื่อแผลก</td>
                                <!-- <td class="text-center ">alert</td> -->
                                <td class="text-center ">กำลังยืม</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('./template/footer'); -%>

        <script>
            var Feature = (function() {
                var startDate = $('#start_date').datepicker();
                var endDate = $('#end_date').datepicker();
                var dataTable = $('#table_id').DataTable({
                    searching: false,
                    lengthChange: false,
                    iDisplayLength: 10,
                });

                return {
                    init: function() {

                    }
                }
            })();

            jQuery(document).ready(function() {
                Feature.init();
            });
        </script>