<%- include('./template/header'); -%>

    <div class="row">
        <div class="col-lg-10">

        </div>
        <!-- <div class="col-lg-2">
            <div class="col-lg-12">
                <div class="card-body pb-0">
                    <div class="col-xxl-12 mb-3 text-end ">
                        <div class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    </div>
    </div>
    <div class="row ">
        <div class="col-lg-12 ">
            <div class="card shadow-sm " style="min-height: 400px; ">
                <div class="card-head">
                    <div class="text-center">
                        <h3>แจ้งเตือนการยืมและคืนอุปกรณ์</h3>
                    </div>

                </div>
                <div class="card-body ">
                    <table class="table table-striped " id="table_id">
                        <thead class="table-navy-blue ">
                            <tr>
                                <th class="text-center ">วันที่</th>
                                <th class="text-center ">รหัสพนักงาน</th>
                                <th class="text-center ">ชื่อ-นามสกุล</th>
                                <th class="text-center ">รายการยืม</th>
                                <th class="text-center ">เลขครุภัณฑ์</th>
                                <th class="text-center ">เวลา</th>
                                <th class="text-center ">ตำแหน่ง</th>
                                <th class="text-center ">สถานะ</th>
                                <th class="text-center ">ยอมรับ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center ">25/2/2565</td>
                                <td class="text-center ">65748390</td>
                                <td class="text-center ">ไชยะ สมพร</td>
                                <td class="text-center ">เครื่อง X ray</td>
                                <td class="text-center ">000001</td>
                                <td class="text-center ">11:00</td>
                                <td class="text-center ">ห้อง X-ray</td>
                                <td class="text-center ">ยืม</td>
                                <td class="text-center ">
                                    <button class="btn btn-success " id="search"><i class="fas fa-check me-2 "></i>ยอมรับ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('./template/footer'); -%>

        <script>
            var Feature = (function() {
                var startDate = $('#start_date').datepicker();
                var endDate = $('#end_date').datepicker();
                var dataTable = $('#table_id').DataTable({
                    searching: false,
                    lengthChange: false,
                    iDisplayLength: 10,
                });

                return {
                    searchData: function() {
                        $('#search').on('click', function(e) {

                            window.location = '/notification?search=' + textSearch;

                        });
                    },
                    init: function() {
                        Feature.searchData();
                    }
                }
            })();

            jQuery(document).ready(function() {
                Feature.init();
            });
        </script>