<%- include('./template/header'); -%>

<div class="row">
    <div class="col-lg-12">
        <div class="row px-2 mb-1">
            <div class="col-lg-12 text-end mb-3">
                <div class="btn btn-primary shadow-sm" data-bs-toggle="collapse" data-bs-target="#equipmentForm" aria-expanded="true"><i class="fas fa-plus me-2"></i>เพิ่มข้อมูลครุภัณฑ์</div>
            </div>
            <div class="row">
                <div class="card shadow-sm mb-3 collapse" id="equipmentForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="pt-2">ข้อมูลครุภัณฑ์</h5>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row form-data me-3">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label ms-4 mx-1 px-1">รหัส RFID : </label>
                                        <input type="text" class="form-control rounded-3 me-2">
                                        <div class="btn btn-warning shadow-sm rounded-3">เคลียร์ Tag</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label ps-1 ms-3 me-2">ชื่อครุภัณฑ์ : </label>
                                        <input type="text" class="form-control rounded-3" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="col-form-label ms-3 me-2">เลขครุภัณฑ์ : </label>
                                            <input type="text" class="form-control rounded-3" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="col-form-label ms-5 ps-3 me-2">S/N : </label>
                                            <input type="text" class="form-control rounded-3" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="col-form-label ms-5 ps-3 me-2">ยี่ห้อ : </label>
                                            <input type="text" class="form-control rounded-3" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="col-form-label ms-5 ps-4 me-2">รุ่น : </label>
                                            <input type="text" class="form-control rounded-3" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-3">
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <div class="btn btn-outline-secondary"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                                <div class="btn btn-success"><i class="fas fa-save me-2"></i>บันทึก</div>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="pt-2">ตารางข้อมูลครุภัณฑ์</h5>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group shadow-sm mb-2">
                                   <input type="text" class="form-control" placeholder="ชื่อครุภัณฑ์, เลขครุภัณฑ์, ยี่ห้อ">
                                    <div class="btn btn-secondary" id=""><i class="fas fa-search me-2"></i>ค้นหา</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped my-2" id="table_id" style="min-height: 428px;">
                                <thead class="table-navy-blue">
                                    <tr>
                                        <th class="text-center">ลำดับ</th>
                                        <th class="text-center">รหัส RFID</th>
                                        <th class="text-center">S/N</th>
                                        <th class="text-center">เลขครุภัณฑ์</th>
                                        <th class="text-center">ชื่อครุภัณฑ์</th>
                                        <th class="text-center">ยี่ห้อ</th>
                                        <th class="text-center">รุ่น</th>
                                        <th class="text-center">จัดการข้อมูล</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">4312341234</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">AAAA</td>
                                        <td class="text-center">B</td>
                                        <td class="text-center">20</td>
                                        <td class="text-center"><div class="btn btn-danger btn-sm"><i class="fas fa-trash me-2"></i>ลบ</div> <div class="btn btn-warning btn-sm"><i class="fas fa-pen me-2"></i></i>แก้ไข</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center">4312341234</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">AAAA</td>
                                        <td class="text-center">B</td>
                                        <td class="text-center">20</td>
                                        <td class="text-center"><div class="btn btn-danger btn-sm"><i class="fas fa-trash me-2"></i>ลบ</div> <div class="btn btn-warning btn-sm"><i class="fas fa-pen me-2"></i></i>แก้ไข</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="text-center">4312341234</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">AAAA</td>
                                        <td class="text-center">B</td>
                                        <td class="text-center">20</td>
                                        <td class="text-center"><div class="btn btn-danger btn-sm"><i class="fas fa-trash me-2"></i>ลบ</div> <div class="btn btn-warning btn-sm"><i class="fas fa-pen me-2"></i></i>แก้ไข</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="text-center">4312341234</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">AAAA</td>
                                        <td class="text-center">B</td>
                                        <td class="text-center">20</td>
                                        <td class="text-center"><div class="btn btn-danger btn-sm"><i class="fas fa-trash me-2"></i>ลบ</div> <div class="btn btn-warning btn-sm"><i class="fas fa-pen me-2"></i></i>แก้ไข</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="text-center">4312341234</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">00001</td>
                                        <td class="text-center">AAAA</td>
                                        <td class="text-center">B</td>
                                        <td class="text-center">20</td>
                                        <td class="text-center"><div class="btn btn-danger btn-sm"><i class="fas fa-trash me-2"></i>ลบ</div> <div class="btn btn-warning btn-sm"><i class="fas fa-pen me-2"></i></i>แก้ไข</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./template/footer'); -%>

<script>
    var Feature = (function(){

        var dataTable = $('#table_id').DataTable({
            language: {emptyTable: "ไม่พบข้อมูลครุภัณฑ์"},
            searching: false,
            lengthChange: false,
            ordering:false,
            responsive: true
            // iDisplayLength: 10,
        });

        return {
            initRequest: function () {
                $('.non-req').hide()
            },
            init: function () {
                Feature.initRequest();
            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>