<%- include('./template/header'); -%>
<div class="container-xl">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 text-end mb-3">
                    <div class="btn btn-primary shadow-sm" id="add_NewMember"><i class="fas fa-plus me-2"></i>เพิ่มข้อมูลบุคลากร</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm mb-3 collapse" id="MemberForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="pt-2">ข้อมูลบุคลากร</h5>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row mx-5" id="Member_validate">
                        <div class="col-lg-8">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label class="form-label">รหัส RFID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control shadow-sm rounded-3 me-2" id="member_rfid" maxlength="10" required>
                                        <div class="btn btn-warning shadow-sm rounded-3">เคลียร์ Tag</div>
                                        <div class="invalid-feedback">
                                            กรุณาระบุ รหัส RFID 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label class="form-label">รหัสพนักงาน</label>
                                    <input type="text" class="form-control shadow-sm rounded-3" id="member_username" required>
                                    <div class="invalid-feedback">
                                        กรุณาระบุ รหัสพนักงาน
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">รหัสผ่าน</label>
                                    <input type="password" class="form-control shadow-sm rounded-3" id="member_password" required>
                                    <div class="invalid-feedback">
                                        กรุณาระบุ รหัสผ่าน
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="form-label">ชื่อ</label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="member_firstname" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ ชื่อพนักงาน
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="form-label">นามสกุล</label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="member_lastname" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ นามสกุล
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="form-label">เพศ</label>
                                            <select class="form-select shadow-sm rounded-3" id="member_gender" required>
                                                <option value=""></option>
                                                <option value="0">ชาย</option>
                                                <option value="1">หญิง</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ เพศ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label class="form-label">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control shadow-sm rounded-3" id="member_tel" required>
                                    <div class="invalid-feedback">
                                        กรุณาระบุ เบอร์โทรศัพท์
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row mx-2 mb-3">
                                <label class="form-label">รูปภาพบุคลากร</label>
                                <div name="Member_image" id="file" class="dropzone text-center shadow-sm" style="background-color:#ffff; border-color:#ced4da; border-radius: 1.25rem;">
                                    <div class="dz-default dz-message" style="height: 158px;">
                                        <span>
                                            <span style="font-size:15px;">
                                                <i class="fas fa-cloud-upload-alt" style="margin-top: 43px; font-size:50px;"></i>
                                                <p>เพิ่มรูปภาพบุคลากร</p>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <hr class="mb-3">
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <div class="btn btn-outline-secondary shadow-sm" id="cancel_addMember"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                            <div class="btn btn-success shadow-sm" id="submit_addMember"><i class="fas fa-save me-2"></i>บันทึก</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <h5 class="pt-2">ตารางข้อมูลบุคลากร</h5>
                        </div>
                        <div class="col-lg-5 text-end">
                            <div class="input-group mb-1">
                                <input type="text" class="form-control me-2 shadow-sm rounded-3" id="MemberSearch" placeholder="ชื่อ, รหัสพนักงาน, เบอร์โทรศัพท์">
                                <div class="btn btn-secondary shadow-sm rounded-3" id="search"><i class="fas fa-search me-2"></i>ค้นหา</div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <table class=" display nowrap mb-3" id="table_id">
                        <thead class="table-navy-blue">
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">รหัส RFID</th>
                                <th class="text-center">รหัสพนักงาน</th>
                                <th class="text-center">ชื่อ</th>
                                <th class="text-center">เพศ</th>
                                <th class="text-center">เบอร์โทรศัพท์</th>
                                <th class="text-center">จัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            
            </div>
        </div>
    </div>
</div>

<%- include('./template/footer'); -%>
<script>
    var Feature = (function(){
        Dropzone.autoDiscover = false;

        var has_image = 0;
        var countOrder = 0;
        var member_password = "";
        var image_file = '';

        var aaRfid = "";
        var aaSearch = "";

        var id_update = 0;
        var id_remove = 0;

        var user = JSON.parse('<%- JSON.stringify(udt) %>');
            user = user.id;

        var dataTable = $('#table_id').DataTable({
            language: {emptyTable: "ไม่พบข้อมูลบุคลากร", info: "แสดงข้อมูลบุคลากร _TOTAL_ รายการ", infoEmpty: "ไม่พบข้อมูล"},
            searching: false,
            initComplete: function (settings, json) {  
                $("#table_id").wrap("<div style='overflow:auto; width:100%; position:relative; min-height: 775px; max-height: 775px; background-color: #F9F9F9; margin-bottom: 5px;'></div> ");            
            },
            ordering: false,
            lengthChange: false,
            paging: false,
            bAutoWidth: false,
            columns:[
                        { 
                            data: function (data) {
                                countOrder++
                                return countOrder;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['rfid'];
                            },
                            className : 'text-center',
                        },
                        
                        { 
                            data: function (data) {
                                return data['username'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['firstname'] + ' ' + data['lastname'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                var gender = "";
                                    gender = data['gender'];
                                        if ( gender == 0 ) {
                                            gender = "ชาย"
                                        } 
                                        else if ( gender == 1 ) {
                                            gender = "หญิง"
                                        }
                                return gender;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['telephone'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                var setButton = ""
                                    setButton = '<a class="btn btn-danger btn-sm shadow-sm" name="delete_data" data-id="' + data['id'] + '"><i class="fas fa-trash me-2"></i>ลบ</a>\
                                                 <a class="btn btn-warning btn-sm shadow-sm" name="edit_data"\
                                                    data-id="' + data['id'] + '" data-rfid="' + data['rfid'] + '" data-username="' + data['username'] + '"\
                                                    data-firstname="' + data['firstname'] + '"data-lastname="' + data['lastname'] + '"data-gender="' + data['gender'] + '" data-telephone="' + data['telephone'] + '" data-image_file="' + data['image_file'] + '">\
                                                 <i class="fas fa-pen me-2"></i>แก้ไข</a>'; 
                                return setButton;
                            },
                            className : 'text-center',
                        },
                    ],
            serverSide: true,
            ajaxSource: '/regisMember/search',
            serverData: function (sSource, aaData, fnCallback, oSettings) {
                aaData.push({ "name": "rfid", "value": aaRfid});
                aaData.push({ "name": "search", "value": aaSearch});
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aaData,
                    success: function (response) {
                        if (response.status === "Succeed") {
                            if (response.data === "No Reverting information") {
                                response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                            } else {
                                var response = response.data;
                                    response = {"aaData": response, "iTotalRecords": response.length, "iTotalDisplayRecords": response.length};
                            }
                        } else {
                            response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                        }
                      
                        fnCallback(response);

                    }
                });
            },
            createdRow: function (row, data, index) {
            }
        });
            
        return {
            
            initDropzone: function () {
                dropzoneAdd = new Dropzone('[name=Member_image]', {
                    url: function () {
                        return '/regisMember/UploadImageProfile';
                        },
                    paramName: "file",
                    maxFiles: 1,
                    maxFilesize: 25, // Max file size 25 mb
                    addRemoveLinks: true,
                    paralleluploads: 1,
                    acceptedFiles: ".jpg,.png,.gif,.jpeg,.jfif",
                    dictDefaultMessage: "",
                    init: function () {
                        this.on("thumbnail", function (file, fileUrl) {
                            $('.dz-preview').last().find('img').attr({ width: '100%', height: '100%'});
                        }),
                           
                        this.on("complete", function (file) {
                            $(".dz-remove").html('<div class="btn btn-sm btn-danger shadow-sm w-100 mt-2"; style="border-radius: 15px;"><i class="fa fa-trash me-2"></i>ลบรูปภาพ</div>');
                            //console.log(file)
                        });
                        this.on("processing", function (file) {
                            $('.dz-message').hide();
                        });  
                        this.on("maxfilesexceeded", function(file){
                            this.removeFile(file);
                            var _ref;
                            var _this = $(this.element);
                            _this.find('.dz-message').hide();
                                Swal.fire ({
                                    icon: 'warning',
                                    title: 'คำเตือน',
                                    text: 'ไม่สามารถอับโหลดรูปมากกว่า 1 รูปได้ กรุณาลองใหม่อีกครั้ง',
                                    confirmButtonText: "ยืนยัน",
                                    
                                }) .then((result) => {
                                    if (result.isConfirmed) {
                                        if (file.previewElement) {
                                            if ((_ref = file.previewElement) != null) {
                                            _ref.parentNode.removeChild(file.previewElement);
                                            _this.find('.dz-message').hide();
                                            // console.log(image_file);
                                            }
                                        }
                                    } 
                                });
                            });
                        },
                        success: function (file, response) {
                            var jsonResult = (response);
                            // console.log(jsonResult)
                                if (jsonResult.fieldname == "file") {
                                    file.previewElement.classList.add("dz-success");
                                        image_file = jsonResult.filename;
                                        has_image = 1;
                                        // console.log(image_file);
                                }
                                else {
                                    file.previewElement.classList.add("dz-error");
                                }
                            },                           
                            error: function (file, response) {
                        },
                        removedfile: function (file) {
                            var _ref;
                            var _this = $(this.element);
                                _this.find('.dz-message').hide();
                            Swal.fire ({
                                icon: 'warning',
                                title: 'กรุณายืนยันการลบ',
                                text: 'เมื่อกด "ยืนยัน" ระบบจะทำการลบรูปภาพบุคลากร',
                                showCancelButton: true,
                                confirmButtonText: "ยืนยัน",
                                cancelButtonText: "ยกเลิก",
                            }) .then((result) => {
                            if (result.isConfirmed) {
                                if (file.previewElement) {
                                    if ((_ref = file.previewElement) != null) {
                                    _ref.parentNode.removeChild(file.previewElement);
                                    _this.find('.dz-message').show();
                                    image_file = "";
                                    // console.log(image_file);
                                    }
                                }
                                Feature.submitRemoveImage();
                            } else {
                                _this.addClass('dz-started');
                                image_file = 1;
                            }
                        });
                    }
                });        
            },
            searchData: function () {
                $('#search').on('click', function (e) {
                    var MemberSearch = $('#MemberSearch').val();
                        aaSearch = MemberSearch.trim();
                        countOrder = 0;
                        dataTable.ajax.reload();
                });
            },
            initButton: function () {
                // in dataTable
                $('#table_id').on('click', '[name="edit_data"]', function () {
                    var data = $(this).data();
                        if ($('#MemberForm').is('.collapse:not(.show)')) { // not show
                            $('#MemberForm').collapse("toggle");
                        }
                            // set value
                            id_update = data.id;
                            $('#member_rfid').val(data.rfid);
                            $('#member_firstname').val(data.firstname);
                            $('#member_lastname').val( data.lastname);
                            $('#member_username').val(data.username);
                            $("#member_password").val('');
                            $('#member_gender').val(data.gender);
                            $('#member_tel').val(data.telephone);
                            $('.dz-preview').remove();
                            image_file = data.image_file;

                            if (data.image_file != ""){
                                var mockFile = {id: data.rfid, name: 'member.jpg', size: 102400 };
                                    dropzoneAdd.emit('addedfile', mockFile);
                                    var file_url = 'http://localhost:3000/profiles/' + data.image_file;

                                        dropzoneAdd.emit('thumbnail', mockFile, file_url);
                                        dropzoneAdd.emit('complete', mockFile);
                                        dropzoneAdd.files.push(mockFile);
                                        
                                        var _this = $(this.element);
                                            _this.find('.dz-message').addClass('hidden'); 

                                        image_file = data.image_file;        
                            }
                });
                $('#table_id').on('click', '[name="delete_data"]', function () {
                    var data = $(this).data();
                        id_remove = data.id;
                        Swal.fire ({
                                icon: 'warning',
                                title: 'กรุณายืนยันการลบ',
                                text: 'เมื่อกด "ยืนยัน" ระบบจะทำการลบข้อมูลบุคลากร',
                                showCancelButton: true,
                                confirmButtonText: "ยืนยัน",
                                cancelButtonText: "ยกเลิก",
                            }) .then((result) => {
                            if (result.isConfirmed) {
                                Feature.submitRemoveMember();
                            } else {
                                swal.close()
                            }
                        });
                });
                // add new Member
                $('#add_NewMember').on('click', function (e) {
                    if ($('#MemberForm').is('.collapse:not(.show)')) { // not show
                            $('#MemberForm').collapse("toggle");
                    }
                        id_update = 0;
                        image_file = "";
                        $('.dz-message').show();
                        
                        // $('.dz-preview').remove(); 
                        $('.dz-complete').remove();
                        $('.dz-image-preview').remove();
                        // clear value
                        $('#member_rfid').val('');
                        $('#member_firstname').val('');
                        $('#member_lastname').val('');
                        $('#member_username').val('');
                        $("#member_password").val('');
                        // $("#member_password").prop( "disabled", false );
                        $('#member_gender').val('');
                        $('#member_tel').val('');
                });
                // in form 
                $('#submit_addMember').on('click', function (e) {
                        if (id_update == 0) {
                            if (($('#member_rfid').val() && $('#member_fristname').val() && $('#member_lastname').val() && $('#member_username').val() && $('#member_password').val() && $('#member_gender').val() && $('#member_tel').val()) != "" ) {
                                if (image_file != "") {
                                    member_password = $('#member_password').val();
                                    Feature.submitAddMember();
                                } else {
                                    Swal.fire({
                                        title: "กรุณาเพิ่มรูปภาพ",
                                        text: "ไม่สามารถบันทึกได้กรุณาเพิ่มรูปภาพบุคลากร แล้วลองอีกครั้ง",
                                        icon: "warning",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                            } else {
                                $("#Member_validate").addClass("was-validated");
                            }
                        } 
                        else if (id_update > 0) {
                            if (($('#member_rfid').val() && $('#member_fristname').val() && $('#member_lastname').val() && $('#member_username').val() && $('#member_gender').val() && $('#member_tel').val()) != "" ) {
                                if (image_file != "") {
                                    member_password = "";
                                    Feature.submitUpdateMember();
                                } else {
                                    Swal.fire({
                                        title: "กรุณาเพิ่มรูปภาพ",
                                        text: "ไม่สามารถบันทึกได้กรุณาเพิ่มรูปภาพบุคลากร แล้วลองอีกครั้ง",
                                        icon: "warning",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                            } else {
                                $("#Member_validate").addClass("was-validated");
                            }
                        }
                    
                    
                });
                $('#cancel_addMember').on('click', function (e) {
                    if ($('#MemberForm').is('.collapse.show')) { // show
                            $("#Member_validate").removeClass("was-validated");
                            $('#MemberForm').collapse("toggle"); 
                    }
                        // clear value
                        $('#member_rfid').val('');
                        $('#member_firstname').val('');
                        $('#member_lastname').val('');
                        $('#member_username').val('');
                        $('#member_gender').val('');
                        $('#member_tel').val('');

                    });
            },
            submitAddMember: function () {
                const now = new Date();
                const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                const dateLocal = new Date(now.getTime() - offsetMs);
                const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");

                var url = '/regisMember/PostRegisterMember';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    rfid : $('#member_rfid').val(),
                                    username : $('#member_username').val(),
                                    password : member_password,
                                    firstname : $('#member_firstname').val(),
                                    lastname : $('#member_lastname').val(),
                                    gender : $('#member_gender').val(),
                                    telephone : $('#member_tel').val(),
                                    datetime : str,
                                    create_by : user,
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            if (has_image == 1) {
                                Feature.submitSendImage();
                            } else {
                                Swal.fire({
                                    title: "สำเร็จ",
                                    text: "บันทึกการแก้ไขข้อมูลบุคลากรสำเร็จ ",
                                    icon: "success",
                                    confirmButtonText: "ตกลง",
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });    
                            }
                        } else if (response.status == "Failed") {
                            if (response.data.DuplicateData == "rfid" ){
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "ไม่สามารถบันทึกได้ เนื่องจากมีรหัส RFID นี้แล้วในระบบ ",
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                            else if (response.data.DuplicateData == "username" ){
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'รหัสพนักงาน' นี้แล้วในระบบ ",
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "ไม่สามารถบันทึกได้ ข้อผิดพลาดจากระบบ : " + response.data,
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                        }
                    });
            },
            submitUpdateMember: function () {
                const now = new Date();
                const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                const dateLocal = new Date(now.getTime() - offsetMs);
                const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");

                var getDate = new Date().toLocaleString().split(",");
                    // Date
                    dateDay = getDate[0].split("/");
                    dateDay = dateDay[2] + '-' + dateDay[0] + '-' + dateDay[1];
                
                var time = new Date(getDate).toLocaleTimeString('th', { timeZone: 'Asia/Jakarta', timeStyle: 'short', hour12: false });
                    // Date Now
                    dateNow = dateDay + ' ' + time;
                    console.log(str);
                    

                var url = '/regisMember/PostEditMember';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    id : id_update,
                                    rfid : $('#member_rfid').val(),
                                    username : $('#member_username').val(),
                                    password : $('#member_password').val(),
                                    firstname : $('#member_firstname').val(),
                                    lastname : $('#member_lastname').val(),
                                    gender : $('#member_gender').val(),
                                    telephone : $('#member_tel').val(),
                                    datetime : str,
                                    update_by : user,
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            if (has_image == 1) {
                                Feature.submitSendImage();
                            } else {
                                Swal.fire({
                                    title: "สำเร็จ",
                                    text: "บันทึกการแก้ไขข้อมูลบุคลากรสำเร็จ ",
                                    icon: "success",
                                    confirmButtonText: "ตกลง",
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });    
                            }
                        } else if (response.status == "Failed") {
                            console.log(response);
                            if (response.data.DuplicateData == "rfid") {
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "มีรหัส RFID ของบุคลากรนี้ในระบบแล้ว กรุณาลองใหม่อีกครั้ง ",
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            } 
                            else if (response.DuplicateData == "username" ){
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'รหัสพนักงาน' นี้แล้วในระบบ ",
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "ผิดพลาด",
                                    text: "ไม่สามารถบันทึกได้ ข้อผิดพลาดจากระบบ : " + response.data,
                                    icon: "error",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                        } 
                    });
            },
            submitRemoveMember: function () {
                var getDate = new Date().toLocaleString().split(",");
                    // Date
                    dateDay = getDate[0].split("/");
                    dateDay = dateDay[2] + '-' + dateDay[0] + '-' + dateDay[1];
                
                var time = new Date(getDate).toLocaleTimeString('th', { timeZone: 'Asia/Jakarta', timeStyle: 'short', hour12: false });
                    // Date Now
                    dateNow = dateDay + ' ' + time;

                var url = '/regisMember/PostDeleteMember';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    id : id_remove,
                                    datetime : dateNow
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            Swal.fire({
                                title: "สำเร็จ",
                                text: "บันทึกข้อมูลการลบข้อมูลบุคลากรสำเร็จ",
                                icon: "success",
                                confirmButtonText: "ตกลง",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                            
                        } else if (response.status == "Failed") {
                            Swal.fire({
                                title: "ผิดพลาด",
                                text: "ไม่สามารถบันทึกการลบข้อมูลบุคลากรได้ กรุณาลองใหม่อีกครั้ง ",
                                icon: "error",
                                confirmButtonText: "ตกลง",
                            });
                        }
                    });
            },
            // Dropzone 
            submitSendImage: function () {
                var url = '/regisMember/UploadImageProfile?post=true';
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { 
                                filename : image_file,
                                rfid : $('#member_rfid').val(),
                            } 
                    }) .done(function(response) {
                        Swal.fire({
                            title: "สำเร็จ",
                            text: "บันทึกการเพิ่มข้อมูลบุคลากรสำเร็จ ",
                            icon: "success",
                            confirmButtonText: "ตกลง",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        });
                    });
            },
            submitRemoveImage: function () {
                var url = '/regisMember/UploadImageProfile?clrimage='+ image_file;
                    image_file = "";
                    $.ajax({
                            type: 'POST',
                            url: url,
                        })
            },
            init: function () {
                Feature.initDropzone();
                Feature.searchData();
                Feature.initButton();
            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>