<%- include('./template/header'); -%>
<div class="container-xl">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 text-end mb-3">
                    <div class="btn btn-primary shadow-sm" id="add_NewEquipment"><i class="fas fa-plus me-2"></i>เพิ่มข้อมูลครุภัณฑ์</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm mb-3 collapse" id="equipmentForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="pt-2">ข้อมูลครุภัณฑ์</h5>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row mx-5" id="equipment_validate">
                        <div class="col-lg-8">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label class="form-label">รหัส RFID </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control shadow-sm rounded-3 me-2" id="equipment_rfid" maxlength="10" required>
                                        <div class="btn btn-warning shadow-sm rounded-3">เคลียร์ Tag</div>
                                        <div class="invalid-feedback">
                                            กรุณาระบุ รหัส RFID 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label class="form-label">ชื่อครุภัณฑ์ </label>
                                    <input type="text" class="form-control shadow-sm rounded-3" id="equipment_name" required>
                                    <div class="invalid-feedback">
                                        กรุณาระบุ ชื่อครุภัณฑ์ 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">เลขครุภัณฑ์ </label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="equipment_number" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ เลขครุภัณฑ์ 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Serial Number </label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="equipment_sn" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ Serial Number 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">ยี่ห้อ </label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="equipment_brand" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ ยี่ห้อ 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">รุ่น </label>
                                            <input type="text" class="form-control shadow-sm rounded-3" id="equipment_model" required>
                                            <div class="invalid-feedback">
                                                กรุณาระบุ รุ่น 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label for="" class="form-label">คำอธิบาย</label>
                                    <textarea class="form-control shadow-sm" id="equipment_description" rows="5" style="height: 296px;" required></textarea>
                                    <div class="invalid-feedback">
                                        กรุณาระบุ คำอธิบาย
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-3">
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <div class="btn btn-outline-secondary shadow-sm" id="cancel_addEquipment"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                            <div class="btn btn-success shadow-sm" id="submit_addEquipment"><i class="fas fa-save me-2"></i>บันทึก</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-lg-7">
                            <h5 class="pt-2">ตารางข้อมูลครุภัณฑ์</h5>
                        </div>
                        <div class="col-lg-5 text-end">
                            <div class="input-group mb-1">
                                <input type="text" class="form-control me-2 shadow-sm rounded-3" id="equipmentSearch" placeholder="ชื่อครุภัณฑ์, เลขครุภัณฑ์, ยี่ห้อ">
                                <div class="btn btn-secondary shadow-sm rounded-3" id="search"><i class="fas fa-search me-2"></i>ค้นหา</div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <table class=" display nowrap mb-3" id="table_id">
                        <thead class="table-navy-blue">
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">รหัส RFID</th>
                                <th class="text-center">S/N</th>
                                <th class="text-center">เลขครุภัณฑ์</th>
                                <th class="text-center">ชื่อครุภัณฑ์</th>
                                <th class="text-center">ยี่ห้อ</th>
                                <th class="text-center">รุ่น</th>
                                <th class="text-center">จัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            
            </div>
        </div>
    </div>
</div>

<%- include('./template/footer'); -%>

<script>
    var Feature = (function(){
        var countOrder = 0;
        
        var aaRfid = "";
        var aaSearch = "";

        var id_update = 0;
        var id_remove = 0;

        var user = JSON.parse('<%- JSON.stringify(udt) %>');
            user = user.id;

        var dataTable = $('#table_id').DataTable({
            language: {emptyTable: "ไม่พบข้อมูลครุภัณฑ์", info: "แสดงข้อมูลครุภัณฑ์ _TOTAL_ รายการ", infoEmpty: "ไม่พบข้อมูล"},
            searching: false,
            initComplete: function (settings, json) {  
                $("#table_id").wrap("<div style='overflow:auto; width:100%; position:relative; max-height: 775px; margin-bottom: 5px;'></div> ");            
            },
            ordering: false,
            lengthChange: false,
            paging: false,
            bAutoWidth: false,
            columns:[
                        { 
                            data: function (data) {
                                countOrder++
                                return countOrder;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['rfid'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['serial_number'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipment_number'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipment_name'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['brand'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['model'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                var setButton = ""
                                    setButton = '<a class="btn btn-danger btn-sm shadow-sm" name="delete_data" data-id="' + data['id'] + '"><i class="fas fa-trash me-2"></i>ลบ</a>\
                                                 <a class="btn btn-warning btn-sm shadow-sm" name="edit_data"\
                                                    data-id="' + data['id'] + '" data-rfid="' + data['rfid'] + '" data-serial_number="' + data['serial_number'] + '"\
                                                    data-equipment_number="' + data['equipment_number'] + '" data-equipment_name="' + data['equipment_name'] + '"\
                                                    data-brand="' + data['brand'] + '"data-model="' + data['model'] + '"data-description="' + data['description'] + '">\
                                                 <i class="fas fa-pen me-2"></i>แก้ไข</a>'; 
                                return setButton;
                            },
                            className : 'text-center',
                        },
                    ],
            serverSide: true,
            ajaxSource: '/regisEquipment/search',
            serverData: function (sSource, aaData, fnCallback, oSettings) {
                aaData.push({ "name": "rfid", "value": aaRfid});
                aaData.push({ "name": "search", "value": aaSearch});
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aaData,
                    success: function (response) {
                        if (response.status === "Succeed") {
                            if (response.data === "No Reverting information") {
                                response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                            } else {
                                var response = response.data;
                                    response = {"aaData": response, "iTotalRecords": response.length, "iTotalDisplayRecords": response.length};
                            }
                        } else {
                            response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                        }
                      
                        fnCallback(response);

                    }
                });
            },
            createdRow: function (row, data, index) {
            }
        });

        return {
            searchData: function () {
                $('#search').on('click', function (e) {
                    var equipmentSearch = $('#equipmentSearch').val();
                        aaSearch = equipmentSearch.trim();
                        countOrder = 0;
                        dataTable.ajax.reload();
                });
            },
            initButton: function () {
                // in dataTable
                $('#table_id').on('click', '[name="edit_data"]', function () {
                    var data = $(this).data();
                        if ($('#equipmentForm').is('.collapse:not(.show)')) { // not show
                            $('#equipmentForm').collapse("toggle");
                        }
                            // set value
                            id_update = data.id;
                            $('#equipment_rfid').val(data.rfid);
                            $('#equipment_name').val(data.equipment_name);
                            $('#equipment_number').val(data.equipment_number);
                            $('#equipment_sn').val(data.serial_number);
                            $('#equipment_brand').val(data.brand);
                            $('#equipment_model').val(data.model);
                            $('#equipment_description').val(data.description);
                });
                $('#table_id').on('click', '[name="delete_data"]', function () {
                    var data = $(this).data();
                        id_remove = data.id;
                        Swal.fire ({
                                icon: 'warning',
                                title: 'กรุณายืนยันการลบ',
                                text: 'เมื่อกด "ยืนยัน" ระบบจะทำการลบข้อมูลครุภัณฑ์',
                                showCancelButton: true,
                                confirmButtonText: "ยืนยัน",
                                cancelButtonText: "ยกเลิก",
                            }) .then((result) => {
                            if (result.isConfirmed) {
                                Feature.submitRemoveEquipment();
                            } else {
                                swal.close()
                            }
                        });
                });
                // add new equipment
                $('#add_NewEquipment').on('click', function (e) {
                    if ($('#equipmentForm').is('.collapse:not(.show)')) { // not show
                            $('#equipmentForm').collapse("toggle");
                    }
                        id_update = 0;
                        // clear value
                        $('#equipment_rfid').val('');
                        $('#equipment_name').val('');
                        $('#equipment_number').val('');
                        $('#equipment_sn').val('');
                        $('#equipment_brand').val('');
                        $('#equipment_model').val('');
                        $('#equipment_description').val('');
                });
                // in form 
                $('#submit_addEquipment').on('click', function (e) {
                    if (($('#equipment_rfid').val() && $('#equipment_name').val() && $('#equipment_number').val() && $('#equipment_sn').val() && $('#equipment_brand').val() && $('#equipment_model').val() && $('#equipment_description').val()) != "" ) {
                        if (id_update == 0) {
                            Feature.submitAddEquipment();
                        } 
                        else if (id_update > 0) {
                            Feature.submitUpdateEquipment();
                        }
                    } else {
                        $("#equipment_validate").addClass("was-validated");
                    }
                });
                $('#cancel_addEquipment').on('click', function (e) {
                    if ($('#equipmentForm').is('.collapse.show')) { // show
                            $("#equipment_validate").removeClass("was-validated");
                            $('#equipmentForm').collapse("toggle"); 
                    }
                        // clear value
                        $('#equipment_rfid').val('');
                        $('#equipment_name').val('');
                        $('#equipment_number').val('');
                        $('#equipment_sn').val('');
                        $('#equipment_brand').val('');
                        $('#equipment_model').val('');
                        $('#equipment_description').val('');
                });
            },
            submitAddEquipment: function () {
                const now = new Date();
                        const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                        const dateLocal = new Date(now.getTime() - offsetMs);
                        const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                            dateNow = str;

                var url = '/regisEquipment/PostRegisterEquip';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    rfid : $('#equipment_rfid').val(),
                                    equipment_name : $('#equipment_name').val(),
                                    brand : $('#equipment_brand').val(),
                                    model : $('#equipment_model').val(),
                                    equipment_number : $('#equipment_number').val(),
                                    serial_number : $('#equipment_sn').val(),
                                    description : $('#equipment_description').val(),
                                    datetime : dateNow,
                                    create_by : user
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            Swal.fire({
                                title: "สำเร็จ",
                                text: "บันทึกข้อมูลการเพิ่มข้อมูลครุภัณฑ์สำเร็จ",
                                icon: "success",
                                confirmButtonText: "ตกลง",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                            
                        } else if (response.status == "Failed") {
                            var response = response.data;
                            if (response.DuplicateData == "rfid" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมีรหัส RFID นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                                else if (response.DuplicateData == "equipment_number" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'รหัสครุภัณฑ์' นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                                else if (response.DuplicateData == "serial_number" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'Serial Number' นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                        }
                    });
            },
            submitUpdateEquipment: function () {
                const now = new Date();
                        const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                        const dateLocal = new Date(now.getTime() - offsetMs);
                        const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                            dateNow = str;

                var url = '/regisEquipment/PostEditEquip';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    id : id_update,
                                    rfid : $('#equipment_rfid').val(),
                                    equipment_name : $('#equipment_name').val(),
                                    brand : $('#equipment_brand').val(),
                                    model : $('#equipment_model').val(),
                                    equipment_number : $('#equipment_number').val(),
                                    serial_number : $('#equipment_sn').val(),
                                    description : $('#equipment_description').val(),
                                    datetime : dateNow,
                                    create_by : user
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            Swal.fire({
                                title: "สำเร็จ",
                                text: "บันทึกข้อมูลการแก้ไขข้อมูลครุภัณฑ์สำเร็จ",
                                icon: "success",
                                confirmButtonText: "ตกลง",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                            
                        } else if (response.status == "Failed") {
                            var response = response.data;
                            if (response.DuplicateData == "rfid" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมีรหัส RFID นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                                else if (response.DuplicateData == "equipment_number" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'รหัสครุภัณฑ์' นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                                else if (response.DuplicateData == "serial_number" ){
                                    Swal.fire({
                                        title: "ผิดพลาด",
                                        text: "ไม่สามารถบันทึกได้ เนื่องจากมี 'Serial Number' นี้แล้วในระบบ ",
                                        icon: "error",
                                        confirmButtonText: "ตกลง",
                                    });
                                }
                        }
                    });
            },
            submitRemoveEquipment: function () {
                const now = new Date();
                        const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                        const dateLocal = new Date(now.getTime() - offsetMs);
                        const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                            dateNow = str;

                var url = '/regisEquipment/PostDeleteEquip';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    id : id_remove,
                                    datetime : dateNow
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            Swal.fire({
                                title: "สำเร็จ",
                                text: "บันทึกข้อมูลการลบข้อมูลครุภัณฑ์สำเร็จ",
                                icon: "success",
                                confirmButtonText: "ตกลง",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                            
                        } else if (response.status == "Failed") {
                            Swal.fire({
                                title: "ผิดพลาด",
                                text: "ไม่สามารถบันทึกการลบข้อมูลครุภัณฑ์ได้ กรุณาลองใหม่อีกครั้ง ",
                                icon: "error",
                                confirmButtonText: "ตกลง",
                            });
                        }
                    });
            },
            init: function () {
                Feature.searchData();
                Feature.initButton();
            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>