<%- include('./template/header'); -%>
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-body pb-0">
                            <div class="row">

                                <div class="col-9 mb-3">

                                    <div class="input-group rounded">
                                        <select class="form-select me-2 rounded" aria-label=".form-select-sm example" name="typeSearch" id="typeSearch">
                                        <option selected value="0">เลือกรายการ...</option>
                                        <option value="1">รายการทั้งหมด</option>
                                        <option value="2">รายการยืม</option>
                                        <option value="3">รายการคืน</option>
                                    </select>
                                        <input type="datetime" id="start_date" class="form-control rounded" placeholder="เริมต้น " aria-label="start-date ">
                                        <span class="input-group-text ">ถึง</span>
                                        <input type="datetime " id="end_date" class="form-control " placeholder="สิ้นสุด " aria-label="enddate ">
                                    </div>
                                </div>

                                <div class="col-3 mb-3 text-end">
                                    <div class="btn btn-outline-secondary " id="clear"><i class="fas fa-times me-2 "></i>ยกเลิก</div>
                                    <div class="btn btn-success " id="search"><i class="fas fa-search me-2 "></i>ค้นหา</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="card shadow-sm ">
                    <div class="card-body ">
                        <table class="display nowrap" id="table_id">
                            <thead class="table-navy-blue ">
                                <tr>
                                    <th class="text-center ">วัน/เดือน/ปี</th>
                                    <th class="text-center ">รหัสพนักงาน</th>
                                    <th class="text-center ">ชื่อ-นามสกุล</th>
                                    <th class="text-center ">รายการ</th>
                                    <th class="text-center ">รุ่น</th>
                                    <th class="text-center ">เวลา</th>
                                    <th class="text-center ">แผนก</th>
                                    <!-- <th class="text-center ">แจ้งเตือน</th> -->
                                    <th class="text-center ">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./template/footer'); -%>

        <script>
            var Feature = (function() {
                var startDate = $('#start_date').datepicker();
                var endDate = $('#end_date').datepicker();
                var type_search = "0";
                var start_data = "";
                var end_data = "";
                // console.log(end_data);
                var dataTable = $('#table_id').DataTable({
                    language: {
                        emptyTable: "ไม่พบรายงานรายการยืมคืน",
                        info: "แสดงรายการยืมคืน _TOTAL_ รายการ",
                        infoEmpty: "ไม่พบข้อมูล"
                    },
                    searching: false,
                    responsive: true,
                    initComplete: function(settings, json) {

                        $("#table_id").wrap("<div style='overflow:auto; width:100%; position:relative; max-height: 708px; background-color: #F9F9F9; margin-bottom: 5px;'></div> ");

                    },
                    ordering: false,
                    lengthChange: false,
                    paging: false,
                    // iDisplayLength: 10,
                    bAutoWidth: false,
                    columns: [{
                        data: function(data) {
                            var date_data = data['update_at'];
                            var time = new Date(date_data);

                            // console.log(date_data);
                            // console.log(time);
                            var year = time.getFullYear() + 543;
                            return time.getDate().toLocaleString() - 1 + "/" + time.getMonth() + "/" + year;
                            // console.log(str);

                        },
                        className: '',
                    }, {
                        data: function(data) {
                            return data['id'];
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            return data['firstname'] + '  ' + data['lastname'];
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            return data['equipment_name'];
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            return data['equipment_number'];
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            var date_data = data['update_at'];

                            var time = new Date(date_data)
                            time.setHours(time.getHours() - 7);
                            var date_string = time;
                            return date_string.toLocaleTimeString('th', {
                                timeStyle: 'short',
                                hour12: false,
                            }) + " " + "น.";
                            // console.log(str);
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            return data['department_name'];
                        },
                        className: 'text-center',
                    }, {
                        data: function(data) {
                            if (data['status'] == "1") {
                                return "คืนเเล้ว";
                            } else if (data['status'] == "0") {
                                return "กำลังยืม";
                            }
                            return data['status'];
                        },
                        className: 'text-center',
                    }],
                    serverSide: true,
                    ajaxSource: '/report/search',
                    serverData: function(sSource, aaData, fnCallback, oSettings) {
                        aaData.push({
                            "name": "typeSearch",
                            "value": type_search
                        });
                        aaData.push({
                            "name": "firstDate",
                            "value": start_data
                        });
                        aaData.push({
                            "name": "untilDate",
                            "value": end_data
                        });
                        oSettings.jqXHR = $.ajax({
                            dataType: 'json',
                            type: "POST",
                            url: sSource,
                            data: aaData,
                            success: function(response) {
                                // console.log(response);
                                if (response.status === "Succeed") {
                                    var response = response.data;
                                    response = {
                                        "aaData": response,
                                        "iTotalRecords": response.length,
                                        "iTotalDisplayRecords": response.length
                                    };
                                } else {

                                    response = {
                                        "aaData": [],
                                        "iTotalRecords": 0,
                                        "iTotalDisplayRecords": 0
                                    };

                                }
                                fnCallback(response);

                            }
                        });
                    },
                    createdRow: function(row, data, index) {}
                });

                return {
                    searchData: function() {
                        $('#search').on('click', function(e) {
                            var select_search = $('#typeSearch').val();
                            // console.log(select_search);
                            var startData = $('#start_date').val();
                            var endData = $('#end_date').val();
                            // console.log(startData);
                            var sData = Date.parse(startData);
                            var eData = Date.parse(endData);
                            // console.log(sData);
                            if (sData < eData) {
                                // console.log("true");
                                type_search = select_search;
                                var s_data = startData.split("/");
                                start_data = s_data[2] + "-" + s_data[0] + "-" + s_data[1] + " " + "00:00:00"
                                    // console.log(start_data);
                                var e_data = endData.split("/");
                                end_data = e_data[2] + "-" + e_data[0] + "-" + e_data[1] + " " + "00:00:00"
                                    // console.log(end_data);

                                // window.location = '/report?startDate=' + startData + '&endDate=' + endData;
                                dataTable.ajax.reload();
                            } else {
                                type_search = select_search;
                                start_data = "";
                                end_data = "";
                                console.log("false");
                                Swal.fire({
                                    title: "ไม่สามารถค้นหาได้",
                                    text: "กรุณาใส่วันที่ค้นหาให้ถูกต้อง",
                                    icon: "warning"
                                });
                            }
                            // window.location = '/?startDate=' + startData + '&endDate=' + endData;

                        });
                        $('#clear').on('click', function(e) {
                            $('#start_date').val('');
                            $('#end_date').val('');
                        });
                    },
                    init: function() {
                        Feature.searchData();
                    }
                }
            })();

            jQuery(document).ready(function() {
                Feature.init();
            });
        </script>