<%- include('./template/header'); -%>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row px-2 mb-4">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h5>แสดงข้อมูลการคืน</h5>
                        <hr class="mb-4">
                        <table class=" display nowrap" id="table_id">
                            <thead class="table-navy-blue">
                                <tr>
                                    <th class="text-center">วัน / เดือน / ปี</th>
                                    <th class="text-center">รหัสพนักงาน</th>
                                    <th class="text-center">ชื่อ - นามสกุล</th>
                                    <th class="text-center">ชื่อครุภัณฑ์ที่คืน</th>
                                    <th class="text-center">เลขครุภัณฑ์</th>
                                    <th class="text-center">ยี่ห้อ</th>
                                    <th class="text-center">รุ่น</th>
                                    <th class="text-center">เวลาคืน</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row px-2 mb-1">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h5>ข้อมูลครุภัณฑ์ที่คืน</h5>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="input-group mb-3">
                                <label class="col-form-label ms-4 mx-1 px-1">รหัส RFID : </label>
                                <input type="text" class="form-control shadow-sm rounded-3 me-2" id="equipment_rfid" maxlength="10" >
                                <div class="btn btn-warning shadow-sm rounded-3" id="equipment_clear">เคลียร์ Tag</div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-form-label ps-1 ms-3 me-2">ชื่อครุภัณฑ์ : </label>
                                <input type="text" class="form-control shadow-sm rounded-3" id="equipment_name" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-form-label ms-3 me-2">เลขครุภัณฑ์ : </label>
                                <input type="text" class="form-control shadow-sm rounded-3" id="equipment_number" disabled>
                                <label class="col-form-label mx-2">S/N : </label>
                                <input type="text" class="form-control shadow-sm rounded-3" id="equipment_sn" disabled>
                            </div>
                            <div class="input-group mb-2">
                                <label class="col-form-label ms-5 ps-3 me-2">ยีห้อ : </label>
                                <input type="text" class="form-control shadow-sm rounded-3" id="equipment_brand" disabled>
                                <label class="col-form-label ms-3 me-2">รุ่น : </label>
                                <input type="text" class="form-control shadow-sm rounded-3" id="equipment_model" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="btn btn-outline-secondary shadow-sm" id="cancel_return"><i class="fas fa-times me-2"></i>ยกเลิก</div>
                    <div class="btn btn-success shadow-sm" id="submit_return"><i class="fas fa-check me-2"></i>คืนครุภัณฑ์</div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./template/footer'); -%>

<script>
    var Feature = (function(){
        var equipment_id = "";
        var keyup_equipment = 0;
        
        var user = JSON.parse('<%- JSON.stringify(udt) %>');
            user = user.id;

            var dataTable = $('#table_id').DataTable({
            language: {emptyTable: "ไม่พบข้อมูลการคืนครุภัณฑ์", info: "แสดงข้อมูลการคืนครุภัณฑ์ _TOTAL_ รายการ", infoEmpty: "ไม่พบข้อมูล"},
            searching: false,
            initComplete: function (settings, json) {  
                $("#table_id").wrap("<div style='overflow:auto; width:100%; position:relative; min-height: 708px; max-height: 708px; background-color: #F9F9F9; margin-bottom: 5px;'></div> ");            
            },
            ordering: false,
            lengthChange: false,
            paging: false,
            bAutoWidth: false,
            columns:[
                        { 
                            data: function (data) {
                                var date = ""
                                    date = data['return_date'];
                                    date = date.split("T");
                                var dateDay = date[0].split("-");
                                    dataDay = dateDay[2] + "/" + dateDay[1] + "/" + (parseInt(dateDay[0]) + 543); // set format
                                return dataDay;
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['username'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['firstname'] + ' ' + data['lastname'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipment_name'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['equipment_number'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['brand'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                return data['model'];
                            },
                            className : 'text-center',
                        },
                        { 
                            data: function (data) {
                                var date = ""
                                    date = data['return_date'];
                                    date = date.split("T");
                                    date = date[1].split(".")
                                var dateTime = date[0].split(":");
                                    dateTime = dateTime[0] + ":" + dateTime[1] + ' น.';
                                return dateTime;
                            },
                            className : 'text-center',
                        },
                    ],
            serverSide: true,
            ajaxSource: '/return/search',
            serverData: function (sSource, aaData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aaData,
                    success: function (response) {
                        if (response.status === "Succeed") {
                            if (response.data === "No Reverting information") {
                                response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                            } else {
                                var response = response.data;
                                    response = {"aaData": response, "iTotalRecords": response.length, "iTotalDisplayRecords": response.length};
                            }
                        } else {
                            response = {"aaData":[], "iTotalRecords": 0, "iTotalDisplayRecords": 0};
                        }

                        fnCallback(response);
                    }
                });
            },
            createdRow: function (row, data, index) {
            }
        });

        return {
            initInput: function () {
                $("#equipment_rfid").keyup( function (e) {
                    if (e.target.value.length == 10){
                        var equipment_rfid = $("#equipment_rfid").val();
                        var url = '/return/PostReceiveEquip';
                        $.ajax({
                                type: 'POST',
                                url: url,
                                data: { equip_rfid: equipment_rfid, }
                            })
                        .done(function(response) {
                            if (response.status == "Succeed") {
                                var response = response.data[0];
                                    $("#equipment_name").val(response.equipment_name);
                                    $("#equipment_number").val(response.equipment_number);
                                    $("#equipment_sn").val(response.serial_number);
                                    $("#equipment_brand").val(response.brand);
                                    $("#equipment_model").val(response.model);
                                    equipment_id = response.id;
                                    keyup_equipment = 10; // set keyup

                            } else if (response.status == "Failed") {
                                Swal.fire({
                                    title: "ไม่พบข้อมูล",
                                    text: "ไม่พบข้อมูลรหัส RFID นี้ กรุณาลองใหม่อีกครั้ง ",
                                    icon: "warning",
                                    confirmButtonText: "ตกลง",
                                });
                            }
                        });
                    }
                    else if (keyup_equipment == 10) {
                        $("#equipment_rfid").val('');
                        $("#equipment_name").val('');
                        $("#equipment_number").val('');
                        $("#equipment_sn").val('');
                        $("#equipment_brand").val('');
                        $("#equipment_model").val('');
                        keyup_equipment = 0; // set keyup
                    }
                });
            },
            initButton: function () {
                $('#equipment_clear').on('click', function (e) {
                keyup_member = 0;
                    $("#equipment_rfid").val('');
                    $("#equipment_name").val('');
                    $("#equipment_number").val('');
                    $("#equipment_sn").val('');
                    $("#equipment_brand").val('');
                    $("#equipment_model").val('');
                });
                $('#submit_return').on('click', function (e) {
                    if (($("#equipment_rfid").val() && $("#equipment_name").val() && $("#equipment_number").val() && $("#equipment_sn").val() && $("#equipment_brand").val() && $("#equipment_model").val()) != "" ) { //equipment
                            Feature.submitReturn();
                    } else {
                        Swal.fire({
                            title: "ผิดพลาด",
                            text: 'กรุณาตรวจสอบข้อมูลให้ครบก่อนกดปุ่ม "คืนครุภัณฑ์"',
                            icon: "warning",
                            confirmButtonText: "ตกลง",
                        });
                    }
                });
                $('#cancel_return').on('click', function (e) {
                    // equipment
                    $("#equipment_rfid").val('');
                    $("#equipment_name").val('');
                    $("#equipment_number").val('');
                    $("#equipment_sn").val('');
                    $("#equipment_brand").val('');
                    $("#equipment_model").val('');
                });
            },
            submitReturn: function () {
                const now = new Date();
                        const offsetMs = now.getTimezoneOffset() * 60 * 1000;
                        const dateLocal = new Date(now.getTime() - offsetMs);
                        const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                            dateNow = str;

                var url = '/return/PostReturn';
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: { 
                                    equipment_id: equipment_id, 
                                    admin_approve_return : user, 
                                    return_date: dateNow 
                                  } 
                        })
                    .done(function(response) {
                        if (response.status == "Succeed") {
                            Swal.fire({
                                title: "สำเร็จ",
                                text: "บันทึกข้อมูลการคืนครุภัณฑ์สำเร็จ ",
                                icon: "success",
                                confirmButtonText: "ตกลง",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                            
                        } else if (response.status == "Failed") {
                            Swal.fire({
                                title: "ผิดพลาด",
                                text: "ไม่สามารถบันทึกข้อมูลการคืนครุภัณฑ์ได้ กรุณาลองใหม่อีกครั้ง ",
                                icon: "error",
                                confirmButtonText: "ตกลง",
                            });
                        }
                    });
            },
            init: function () {
                Feature.initInput();
                Feature.initButton();

            }
        }
    })();
  
    jQuery(document).ready(function () {
      Feature.init();
      
    });  
</script>