<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../assets/css/font_style.css">
    <link rel="stylesheet" href="../assets/css/signin.css">
    <title>เข้าสู่ระบบ</title>

</head>

<body>
    <div class="parent clearfix">
        <div class="bg-illustration">
            <!-- <img src="../assets/images/swu_icon.png" alt="logo"> -->

            <div class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="login">
            <div class="container">
                <div class="center">
                    <img src="../assets/images/swu_icon.png" width="75" style="margin-top: 50px;">
                </div>
                <h1>ลงชื่อเข้าใช้<br />บัญชีของคุณ</h1>
                <!-- start form login -->
                <div class="login-form">
                    <form action="">
                        <input type="email" placeholder="Username">
                        <input type="password" placeholder="Password">

                        <div class="remember-form">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </div>
                        <div class="forget-pass">
                            <a href="#">ลืมรหัสผ่าน ?</a>
                        </div>

                        <button class="btn btn-primary btn-lg" type=" submit ">เข้าสู่ระบบ</button>

                    </form>
                </div>
                <!-- end form login -->
            </div>
        </div>
    </div>
</body>

</html>