<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../assets/css/font_style.css">
    <link rel="stylesheet" href="../assets/css/signin.css">
    <title>เข้าสู่ระบบ</title>

</head>

<body>
    <div class="parent clearfix">
        <div class="bg-illustration">
            <!-- <img src="../assets/images/swu_icon.png" alt="logo"> -->

            <div class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="login">
            <div class="container">
                <h1>เข้าสู่ระบบ</h1>
                <!-- start form login -->
                <div class="login-form">
                    <form>
                        <input class=" shadow " type="text" name="username" id="username" placeholder="Username ">
                        <input class="shadow " type="password" name="password" id="password" placeholder="Password ">
                    </form>
                    <br>
                    <br>
                    <button class="btn btn-primary btn-lg shadow w-100" type="submit" name="login" id="login">เข้าสู่ระบบ</button>
                </div>
                <!-- end form login -->
            </div>
        </div>
    </div>
</body>

<script type="text/javascript " src="../node_modules/jquery/dist/jquery.min.js "></script>
<script type="text/javascript " src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js "></script>
<script>
    var Feature = (function() {


        return {
            login: function() {

                $('#login').on('click', function(e) {
                    var username = $("#username").val();
                    var password = $("#password").val();
                    // Checking for blank fields.
                    if (username == '' || password == '') {
                        $('input[type="text "],input[type="password "]').css("border ", "2px solid red ");
                        $('input[type="text "],input[type="password "]').css("box-shadow ", "0 0 3px red ");
                        alert("Please fill all fields...!!!!!! ");
                    } else {
                        var url = "/signin/PostSignin ";

                        $.ajax({
                                type: 'POST',
                                url: url,
                                data: {
                                    Username: $("#username").val(),
                                    Password: $("#password").val()
                                },

                            })
                            .done(function(response) {
                                if (response["status"] == "Succeed") {
                                    console.log(response);
                                    window.location = '/';
                                } else if (response["status"] == "Failed") {
                                    if (response["data"] == "Incorrect username") {
                                        Swal.fire({
                                            title: "ไม่สามารถเข้าสู่ระบบได้",
                                            text: "ชื่อผู้ใช้ของท่านไม่ถูกต้อง กรุณาลองใหม่อีกครั้ง ",
                                            icon: "warning"
                                        });
                                    } else if (response["data"] == "Incorrect password") {
                                        Swal.fire({
                                            title: "ไม่สามารถเข้าสู่ระบบได้ ",
                                            text: "รหัสผ่านของท่านไม่ถูกต้อง กรุณาลองใหม่อีกครั้ง ",
                                            icon: "warning"
                                        });
                                    }

                                }
                            });
                    }
                });



            },
            init: function() {
                Feature.login();
            }
        }
    })();

    jQuery(document).ready(function() {
        Feature.init();
    });
</script>


</html>