    <!-- </div> -->
</div>
<!-- end container -->

<% if(title == "ทำรายการยืม" || title == "ทำรายการคืน"){ %>
    <div class="row mx-3 mb-4">
        <script>
            function display_ct5() {
                var x = new Date()
                var month = x.getMonth()+1;
                var day = x.getDate();
                var year = x.getFullYear();
    
                var x3 = day + '/' + month + '/' + (year+543);
    
                // time part //
                var hour = x.getHours();
                var minute = x.getMinutes();
                var second = x.getSeconds();
                    if(hour < 10 ) { hour='0' + hour; }
                    if(minute < 10 ) { minute='0' + minute; }
                    if(second < 10) { second='0' + second; }
                var x3 = x3 + ' - ' +  hour +':'+ minute + ':' + second + ' น.';
                
                document.getElementById('ct5').innerHTML = x3;
            display_c5();
            }
            function display_c5(){
                var refresh = 1000; // Refresh rate in milli seconds
                    mytime = setTimeout('display_ct5()',refresh)
            }
            display_c5()
        </script>
    
        <span>สถานะ : เวลาปัจจุบัน <span id='ct5'></span></span>
    </div>
<% } else { %>
    <div class="mt-auto">
        <div class="container-fluid">
            <div class="container-xl">
            <div class="row px-1 mb-4">

            <script>
                function display_ct5() {
                    var x = new Date()
                    var month = x.getMonth()+1;
                    var day = x.getDate();
                    var year = x.getFullYear();
        
                    var x3 = day + '/' + month + '/' + (year+543);
        
                    // time part //
                    var hour = x.getHours();
                    var minute = x.getMinutes();
                    var second = x.getSeconds();
                        if(hour < 10 ) { hour='0' + hour; }
                        if(minute < 10 ) { minute='0' + minute; }
                        if(second < 10) { second='0' + second; }
                    var x3 = x3 + ' - ' +  hour +':'+ minute + ':' + second + ' น.';
                    
                    document.getElementById('ct5').innerHTML = x3;
                display_c5();
                }
                function display_c5(){
                    var refresh = 1000; // Refresh rate in milli seconds
                        mytime = setTimeout('display_ct5()',refresh)
                }
                display_c5()
            </script>
        
            <span>สถานะ : เวลาปัจจุบัน <span id='ct5'></span></span>
        </div>
        </div>
    </div>
<% } %>

</body>
<!-- end body -->

</html>
<!-- end html -->

<!-- import script -->
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../node_modules/dropzone/dist/dropzone-min.js"></script>
<script type="text/javascript" src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="../../node_modules/socket.io/client-dist/socket.io.js"></script>

<script>
    // set hidden menu navber
    var user = JSON.parse('<%- JSON.stringify(udt) %>');
        user = user.role;

        if (user === "admin") {
            // $('#department').hide();
        } else if (user === "member") {
            $('#borrow').hide();
            $('#return').hide();
            $('#report').hide();
            $('#notification').hide();
            $('#register').hide();
            // $('#department').hide();
        } else if (user === "dpm") {
            $('#equipment').hide();
            $('#borrow').hide();
            $('#return').hide();
            $('#report').hide();
            $('#notification').hide();
            $('#register').hide();
        }
        
    let socket = io.connect("http://157.230.254.198:3000", { reconnect: true });
        // socket.on("connect", function (data) {
        //     socket.emit("join", "Hello world");
        // });
        socket.on("dataNoti", function (data) {
        if (data) {
            $('#datanoti').addClass('position-absolute p-1 ms-1 bg-danger shadow-lg rounded-circle');
        }
        $("#clock").html(data);
        });

</script>
