    <!-- </div> -->
    <div class="row dateTime mt-3 px-4">
        <script>
            function display_ct5() {
                var x = new Date()
                var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';

                var x1 = x.getDate() + "/" + (x.getMonth()+ 1) + "/" + (x.getFullYear()+543); 
                    x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds() + " น.";
                    document.getElementById('ct5').innerHTML = x1;
            display_c5();
            }
            function display_c5(){
                var refresh=1000; // Refresh rate in milli seconds
                    mytime=setTimeout('display_ct5()',refresh)
            }
            display_c5()
        </script>

        <span>สถานะ : เวลาปัจจุบัน <span id='ct5'></span></span>
        
    </div>
</div>
<!-- end container -->
</body>
<!-- end body -->

</html>
<!-- end html -->

<!-- import script -->
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../node_modules/dropzone/dist/dropzone-min.js"></script>
<script type="text/javascript" src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="../../node_modules/socket.io/client-dist/socket.io.js"></script>

<script>
    // set hidden menu navber
    var user = JSON.parse('<%- JSON.stringify(udt) %>');
        user = user.role;

        if (user === "admin") {
            $('#department').hide();
        } else if (user === "member") {
            $('#borrow').hide();
            $('#return').hide();
            $('#report').hide();
            $('#notification').hide();
            $('#register').hide();
            $('#department').hide();
        } else if (user === "department") {
            $('#equipment').hide();
            $('#borrow').hide();
            $('#return').hide();
            $('#report').hide();
            $('#notification').hide();
            $('#register').hide();
        }
        
    let socket = io.connect("http://localhost:3000", { reconnect: true });
        socket.on("connect", function (data) {
            socket.emit("join", "Hello world");
        });
        socket.on("dataNoti", function (data) {
        if (data) {
            $('#datanoti').addClass('position-absolute p-1 ms-1 bg-danger shadow-lg rounded-circle');
        }
        $("#clock").html(data);
        });

</script>
