    </div>
    <div class="row mt-3">
        <span>สถานะ : ปัจจุบัน 22/1/2022 10:15PM</span>
    </div>
</div>
<!-- end container -->
</body>
<!-- end body -->

</html>
<!-- end html -->

<!-- import script -->
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../node_modules/dropzone/dist/dropzone-min.js"></script>
<script type="text/javascript" src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
