<!DOCTYPE html>
<!-- begin html -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import css -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../node_modules/datatables.net-dt/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../node_modules/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="../../assets/css/font_style.css">
    <link rel="stylesheet" href="../../assets/css/style.css">


    <!-- title -->
    <title>
        <%- title %>
    </title>

</head>
<!-- begin body -->

<body class="bg-light">
    <!--begin navbar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-navy-blue shadow-lg">
            <div class="container-fluid mx-5">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/swu_icon.svg" class="" style="width: 40px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item" id="equipment">
                            <a class="nav-link active" href="/">ข้อมูลครุภัณฑ์</a>
                        </li>
                        <li class="nav-item" id="borrow">
                            <a class="nav-link active" href="/borrow">ทำรายการยืม</a>
                        </li>
                        <li class="nav-item" id="un_borrow">
                            <a class="nav-link active" href="/return">ทำรายการคืน</a>
                        </li>
                        <li class="nav-item" id="report">
                            <a class="nav-link active" href="/report">รายงาน</a>
                        </li>
                        <li class="nav-item" id="section">
                            <a class="nav-link active" href="/notification">แจ้งเตือน
                                <span class="position-absolute p-1 ms-1 bg-danger shadow-lg rounded-circle">
                                     
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown" id="register">
                            <a class="nav-link active dropdown" id="dropdown" data-bs-toggle="dropdown">ลงทะเบียน</a>
                            <ul class="dropdown-menu shadow-sm" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="/regisMember">บุคลากร</a></li>
                                <li><a class="dropdown-item" href="/regisEquipment">ครุภัณฑ์</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" id="section">
                            <a class="nav-link active" href="/department">แผนก</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <button class="btn btn-danger w-100 shadow-sm"><i class="fas fa-sign-out-alt me-2"></i>ออกจากระบบ</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!--end navbar -->

    <!--begin background cover image -->
    <div class="position-relative text-center bg-cover-image shadow-sm" style="height: 400px;">
        <div class="col-md-5">
            <div class="position-absolute top-50 start-50 translate-middle bg-white p-3 px-4 rounded-3 border border-5 border-secondary shadow-lg" style="min-width: 365px;">
                <h2 class="fst-italic me-2 my-3">ระบบยืม - คืนครุภัณฑ์ทางการแพทย์</h2>
                <p class="fst-italic me-2" style="font-size: 17px;">ศูนย์การแพทย์สมเด็จพระเทพรัตนราชสุดา ฯ สยามบรมราชกุมารี</p>
            </div>
        </div>
    </div>
    <!--end background cover image -->

    <!-- begin container -->
    <div class="container-fluid my-3 px-3">
        <!-- <div class="row"> -->